/*Inicio*/
.sobre-nosotros {
  background-color: #ffffff;
  font-size: 25px;
  box-shadow: 4px 4px 4px 4px black;
  border-radius: 5px;
  margin: 50px 10px 0px 10px; }
  .sobre-nosotros h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    text-decoration: underline;
    display: flex;
    justify-content: center; }

.div-map {
  background-color: #ffffff;
  margin: 30px 10px 50px 10px;
  box-shadow: 4px 4px 4px 4px black;
  border-radius: 5px; }
  .div-map h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    text-decoration: underline;
    display: flex;
    justify-content: center; }
  .div-map iframe {
    margin-left: 170px;
    margin-top: 10px;
    margin-bottom: 10px; }

/*Compra*/
.col {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  border: 2px solid #ffffff;
  justify-content: right;
  background-color: #fff;
  margin: 10px; }
  .col h3 {
    font-size: 30px; }
  .col:hover {
    background-color: #ecf0f1; }

.logo-pesos::before {
  content: "$";
  color: green;
  font-size: 20px; }

.logo-dolares::before {
  content: "U$S";
  color: green;
  font-size: 20px; }

/*Contacto*/
.body-3 {
  min-height: 100vh;
  width: 98%; }

.form {
  background-color: #ffffff;
  width: 100%;
  margin: auto;
  max-width: 400px;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  top: 200px; }

.contenedor-form {
  width: 100%;
  display: block;
  grid-auto-columns: 100%;
  padding: 1px;
  align-items: center; }

.form-input {
  font-size: 20px;
  position: relative;
  margin-top: 25px;
  width: 200px; }

.form-input--message {
  resize: none;
  bottom: 5px; }

.form-aaa {
  font-size: 1rem;
  background-color: #0e78d4;
  color: #fff;
  border: none;
  font-weight: 300;
  padding: auto;
  cursor: pointer;
  width: 380px;
  top: 10; }

/*Mi perfil*/
.mi-perfil {
  padding: 70px;
  top: 200px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #d3d3d3;
  position: relative; }

.mi-perfil {
  height: 430px;
  width: 25%;
  margin: auto; }

/* vende */
.vende, .vende-option {
  display: block; }

.vende-option {
  display: block;
  width: 100%;
  position: relative;
  margin-top: 25px;
  width: 300px; }

/*Estilo general*/
.logo1 {
  width: 30px;
  height: 30px; }

.logo2 {
  width: 30px;
  height: 30px; }

.logo3 {
  width: 30px;
  height: 30px; }

.logo4 {
  width: 30px;
  height: 30px; }

body {
  background-color: lightblue; }

footer {
  background-color: white; }

.logo {
  display: flex;
  align-items: center; }

.logo-img {
  width: 350px;
  height: 100px; }

footer span img {
  width: 200px;
  height: 75px; }

/*Media queries*/
@media all and (max-width: 1440px) {
  body {
    max-width: 1440px; }
  .navbar {
    width: 1440px !important; }
  .imagen-inicio img {
    width: 1440px; }
  .sobre-nosotros {
    width: 1420px; }
  .div-map {
    width: 1420px;
    background-color: #ffffff;
    margin: 30px 10px 50px 10px;
    box-shadow: 4px 4px 4px 4px black;
    border-radius: 5px; }
    .div-map iframe {
      margin-left: 150px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 250px;
      height: 200px; } }

@media all and (max-width: 1024px) {
  .navbar {
    width: 1024px !important; }
  .imagen-inicio img {
    width: 1024px; }
  .sobre-nosotros {
    width: 1010px; }
  .div-map {
    width: 1010px;
    background-color: #ffffff;
    margin: 30px 10px 50px 10px;
    box-shadow: 4px 4px 4px 4px black;
    border-radius: 5px; }
    .div-map iframe {
      margin-left: 100px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 200px;
      height: 150px; } }

@media screen and (max-width: 768px) {
  /*Inicio*/ }

@media screen and (max-width: 425px) {
  header {
    width: 600px;
    display: block;
    height: 160px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 10px; }
  .logo {
    display: flex;
    align-items: center; }
    .logo img {
      width: 250px;
      height: 120px;
      position: relative;
      left: 150px; }
  .nav-1 a {
    font-weight: 400;
    padding-right: 8px;
    flex-direction: row;
    position: relative;
    left: 150px; }
  .buscador {
    display: none; }
  .buscador {
    list-style-type: none; }
  /* Mi perfil */
  .mi-perfil {
    width: 65%;
    height: 430px; }
  /* Inicio */
  .carousel-title {
    position: relative;
    right: 150px;
    padding-bottom: 50px;
    top: 50px;
    margin-bottom: 40px; }
  #carouselExampleCaptions {
    top: 20px !important;
    width: 500px;
    margin: auto; } }
