/*Inicio*/
.sobre-nosotros {
  background-color: #ffffff;
  font-size: 25px;
  box-shadow: 4px 4px 4px 4px black;
  border-radius: 5px;
  margin: 50px 10px 0px 10px; }
  .sobre-nosotros h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    text-decoration: underline;
    display: flex;
    justify-content: center; }

.div-map {
  background-color: #ffffff;
  margin: 30px 10px 50px 10px;
  box-shadow: 4px 4px 4px 4px black;
  border-radius: 5px; }
  .div-map h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    text-decoration: underline;
    display: flex;
    justify-content: center; }
  .div-map iframe {
    margin-left: 170px;
    margin-top: 10px;
    margin-bottom: 10px; }

/*Compra*/
.col {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  border: 2px solid #ffffff;
  justify-content: right;
  background-color: #fff;
  margin: 10px; }
  .col h3 {
    font-size: 30px; }
  .col:hover {
    background-color: #ecf0f1; }

.logo-pesos::before {
  content: "$";
  color: green;
  font-size: 20px; }

.logo-dolares::before {
  content: "U$S";
  color: green;
  font-size: 20px; }

/*Contacto*/
#form-contacto1 {
  background-color: #ffff;
  width: 500px;
  position: relative;
  left: 30%;
  margin: 50px 0px 100px 0px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #d3d3d3; }
  #form-contacto1 h2 {
    text-align: center; }
  #form-contacto1 .col {
    align-items: center !important; }

/*Servicios*/
.title-servicios {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  background-color: #ffff;
  box-shadow: 5px 5px 5px 5px black; }

.img-servicios img {
  width: 1920px; }

.div-servicios {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  text-align: justify-all;
  margin-top: 10px;
  font-size: 16px; }
  .div-servicios h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    text-decoration: underline; }
  .div-servicios img {
    border-radius: 5px;
    float: right;
    height: 450px; }
  .div-servicios h3 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    text-decoration: overline; }

.div-tyr {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  text-align: justify-all;
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 100px; }
  .div-tyr h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    text-decoration: underline; }
  .div-tyr img {
    border-radius: 5px;
    float: right;
    height: 450px; }
  .div-tyr h3 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    text-decoration: overline; }

/* vende */
.div-vende {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  text-align: justify-all;
  margin-top: 200px;
  font-size: 16px;
  margin-bottom: 300px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #000000; }
  .div-vende h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    text-decoration: underline; }
  .div-vende div p {
    margin-top: 50px;
    font-size: 30px; }
  .div-vende button {
    width: 100px;
    background-color: lightblue;
    position: relative;
    left: 50%; }

/*Estilo general*/
.logo1 {
  width: 30px;
  height: 30px; }

.logo2 {
  width: 30px;
  height: 30px; }

.logo3 {
  width: 30px;
  height: 30px; }

.logo4 {
  width: 30px;
  height: 30px; }

body {
  background-color: lightblue; }

footer {
  background-color: white; }

.logo {
  display: flex;
  align-items: center; }

.logo-img {
  width: 350px;
  height: 100px; }

footer span img {
  width: 200px;
  height: 75px; }

/*Media queries*/
@media all and (max-width: 1440px) {
  body {
    max-width: 1440px; }
  .navbar {
    width: 1440px !important; }
  .imagen-inicio img {
    width: 1440px; }
  .sobre-nosotros {
    width: 1420px; }
  .div-map {
    width: 1420px;
    background-color: #ffffff;
    margin: 30px 10px 50px 10px;
    box-shadow: 4px 4px 4px 4px black;
    border-radius: 5px; }
    .div-map iframe {
      margin-left: 150px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 250px;
      height: 200px; }
  .img-servicios img {
    width: 1440px; }
  .imagen-contacto img {
    width: 1440px; }
  .imagen-vende img {
    width: 1440px; } }

@media all and (max-width: 1024px) {
  .navbar {
    width: 1024px !important; }
  .imagen-inicio img {
    width: 1024px; }
  .sobre-nosotros {
    width: 1010px; }
  .div-map {
    width: 1010px; }
    .div-map iframe {
      width: 200px;
      height: 150px;
      margin-left: 80px; } }

.img-servicios img {
  width: 1024px; }

.imagen-contacto img {
  width: 1024px; }

.imagen-contacto .form-contacto {
  margin-right: 100px; }

.div-vende p {
  font-size: 15px; }

.div-vende img {
  width: 400px;
  bottom: 450px; }

.imagen-vende img {
  width: 1024px; }

@media all and (max-width: 768px) {
  /*Inicio*/
  .navbar {
    width: 768px !important; }
  .imagen-inicio img {
    width: 768px; }
  .sobre-nosotros {
    width: 750px; }
  .div-map {
    width: 750px; }
    .div-map iframe {
      width: 150px;
      height: 100px; }
  footer {
    width: 100%; } }

.img-servicios img {
  width: 768px; }

.imagen-contacto img {
  width: 768px; }

.imagen-contacto .form-contacto {
  width: 500px; }

.imagen-contacto .form-contacto {
  background-color: #ffff;
  width: 500px; }

.imagen-contacto .imagen-vende img {
  width: 768px; }

.imagen-contacto .div-vende div p {
  margin-top: 50px;
  font-size: 25px; }

@media all and (max-width: 425px) {
  /* Inicio */
  .navbar {
    width: 425px !important; }
  .imagen-inicio img {
    width: 425px; }
  .sobre-nosotros {
    width: 410px; }
  .div-map {
    width: 410px; }
    .div-map iframe {
      width: 200px;
      height: 150px; }
  .img-servicios img {
    width: 425px; }
  .img-servicios .title-servicios {
    text-decoration: underline; }
  .imagen-contacto img {
    width: 425px; }
  .imagen-contacto #form-contacto1 {
    background-color: #ffff;
    width: 400px !important; } }

.imagen-vende img {
  width: 425px; }

.imagen-vende .div-vende div p {
  margin-top: 50px;
  font-size: 20px; }

@media all and (max-width: 375px) {
  /* Inicio */
  .navbar {
    width: 375px !important; }
  .imagen-inicio img {
    width: 375px; }
  .sobre-nosotros {
    width: 360px; }
  .div-map {
    width: 360px; }
    .div-map iframe {
      width: 200px;
      height: 150px; }
  .img-servicios img {
    width: 375px; }
  .imagen-contacto img {
    width: 375px; }
  .imagen-vende img {
    width: 375px; }
  .div-vende div p {
    margin-top: 50px;
    font-size: 20px; } }

@media all and (max-width: 320px) {
  .logo-img {
    width: 300px;
    height: 100px; }
  .navbar {
    width: 320px !important; }
  .imagen-inicio img {
    width: 320px; }
  .sobre-nosotros {
    width: 300px; }
  .div-map {
    width: 300px; }
    .div-map iframe {
      width: 150px;
      height: 100px; }
  .container img {
    width: 200px;
    height: 150px; }
  .img-servicios img {
    width: 320px; }
  .imagen-contacto img {
    width: 320px; }
  .imagen-vende img {
    width: 320px; }
  .div-vende div p {
    margin-top: 50px;
    font-size: 15px; } }
