/*Contacto*/

 #form-contacto1{
  background-color: #ffff;
  width: 500px;
  position: relative;
  left: 30%;
  margin: 50px 0px 100px 0px;

  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #d3d3d3;

  h2{
    text-align: center;
  }

  .col{
    align-items: center !important;
    
  }

  
 }
  
  