/*Inicio*/

  .sobre-nosotros{
    background-color: #ffffff;
    font-size: 25px;
    box-shadow: 4px 4px 4px 4px black;
    border-radius: 5px;
    margin:50px 10px 0px 10px  ;
    
    
    h2{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      justify-content: center;
      text-decoration: underline;
      display: flex;
      justify-content: center;


    }
    
    

  }
  
  .div-map{
    background-color: #ffffff;
    margin: 30px 10px 50px 10px;
    box-shadow: 4px 4px 4px 4px black;
    border-radius: 5px;

    h2{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      justify-content: center;
      text-decoration: underline;
      display: flex;
      justify-content: center;

    }
    iframe{
      margin-left: 170px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }


  