/*Inicio*/
  .section-inicio {
    max-width: 1200px;
  }
  
  .carousel-title {
    position: relative;
    left: 150px;
    padding-bottom: 30px;
  }
  
  #carouselExampleCaptions {
    padding-top: 100px !important;
    width: 600px;
    margin: auto;
  }
  
  .footer-4 {
    position: relative;
    top: 250px;
    width: 100%;
    margin: 10px;
  }






  footer {
    background-color: #ffffff;
    width: 90%;
    margin: 10px;
  
    span img {
      width: 200px;
      height: 75px;
    }
  }