/*Mi perfil*/
.mi-perfil {
    padding: 70px;
    top: 200px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #d3d3d3;
    position: relative;
  }

  // Mixing
  @mixin size ($alto, $ancho, $espaciado){
    height: $alto;
    width: $ancho;
    margin: $espaciado;
}

.mi-perfil{
    @include size(430px, 25%, auto);
}
  
