@import "variables";
@import "_index";
@import "_compra";
@import "_contacto";
@import "_mi-perfil";
@import "vende";
 

  
  /*Estilo general*/

   // Bucle
   @for $i from 1 through 4{
    .logo#{$i} {
      width: 30px;
      height: 30px;
      
    }
  }

  // Mapas
$site: (
  body: lightblue,
  footer: white,
  
);
@each $site, $color in $site {
  #{$site} {
      background-color: $color;  
  }
}


  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 350px;
    height: 100px;
  }

 
  
  
  
  footer {
  
    span img {
      width: 200px;
      height: 75px;
    }
  }

  /*Media queries*/

  @media all and (max-width:1440px) {
    body{
      max-width: 1340px;
    }
    .navbar{
      width: 1440px !important;
    }
    .imagen-inicio{
      img{
        width: 1440px;
      }
    }

    .sobre-nosotros{
      width: 1420px;
     
    }
    .div-map{
      width: 1420px;
      background-color: #ffffff;
      margin: 30px 10px 50px 10px;
      box-shadow: 4px 4px 4px 4px black;
      border-radius: 5px;
  
      
      iframe{
        margin-left: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 250px;
        height: 200px;
      }
    }

    
  }

  @media all and (max-width:1024) {
    // Inicio

    
  }

 


  @media screen and (max-width: 768px) {

    /*Inicio*/


  }
  
  
  
  @media screen and (max-width: 425px) {
    header {
      width: 600px;
      display: block;
      height: 160px;
      background-color: #ffffff;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
  
    .logo {
      display: flex;
      align-items: center;
  
      img {
        width: 250px;
        height: 120px;
        position: relative;
        left: 150px;
      }
    }
  
    .nav-1 a {
      font-weight: 400;
      padding-right: 8px;
      flex-direction: row;
      position: relative;
      left: 150px;
    }
  
    .buscador {
      display: none;
    }
  
    
  
    
  
    .buscador {
      list-style-type: none;
    }
  
    /* Mi perfil */
  
    .mi-perfil {
      width: 65%;
      height: 430px;
    }
  
    /* Inicio */
  
    .carousel-title {
      position: relative;
      right: 150px;
      padding-bottom: 50px;
      top: 50px;
      margin-bottom: 40px;
    }
  
    #carouselExampleCaptions {
      top: 20px !important;
      width: 500px;
      margin: auto;
      
    }
  
    
  }