@import "variables";
@import "_index";
@import "_compra";
@import "_contacto";
@import "_mi-perfil";
@import "vende";
 

  
  /*Estilo general*/

   // Bucle
   @for $i from 1 through 4{
    .logo#{$i} {
      width: 30px;
      height: 30px;
      
    }
  }

  // Mapas
$site: (
  body: lightblue,
  footer: white,
  
);
@each $site, $color in $site {
  #{$site} {
      background-color: $color;  
  }
}


  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 350px;
    height: 100px;
  }

 
  
  
  
  footer {
  
    span img {
      width: 200px;
      height: 75px;
    }
  }

  /*Media queries*/

  @media all and (max-width:1440px) {
    body{
      max-width: 1440px;
    }
    .navbar{
      width: 1440px !important;
    }
    .imagen-inicio{
      img{
        width: 1440px;
      }
    }

    .sobre-nosotros{
      width: 1420px;
     
    }
    .div-map{
      width: 1420px;
      background-color: #ffffff;
      margin: 30px 10px 50px 10px;
      box-shadow: 4px 4px 4px 4px black;
      border-radius: 5px;
  
      
      iframe{
        margin-left: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 250px;
        height: 200px;
      }
    }

    
  }

  @media all and (max-width:1024px) {
    // Inicio
    
    .navbar{
      width: 1024px !important;
    }
    .imagen-inicio{
      img{
        width: 1024px;
      }
    }

    .sobre-nosotros{
      width: 1010px;
     
    }
    .div-map{
      width: 1010px;
      
  
      
      iframe{
        width: 200px;
        height: 150px;
        margin-left: 80px;
        
      }
    }


    
  }

 


  @media all and (max-width: 768px) {

    /*Inicio*/
    .navbar{
      width: 768px !important;
    }
    .imagen-inicio{
      img{
        width: 768px;
      }
    }

    .sobre-nosotros{
      width: 750px;
     
    }
    .div-map{
      width: 750px;

      iframe{
        width: 150px;
        height: 100px;
      }
      
    }
    
    footer{
      width: 100%;
      
    }


  }
  
  
  
  @media all and (max-width: 425px) {
    
    /* Inicio */
    .navbar{
      width: 425px !important;
    }
    .imagen-inicio{
      img{
        width: 425px;
      }
    }

    .sobre-nosotros{
      width: 410px;
     
    }
    .div-map{
      width: 410px;

      iframe{
        width: 200px;
        height: 150px;
      }
      
    }
  
    
  
    
  }

  @media all and (max-width:375px) {

     /* Inicio */
     .navbar{
      width: 375px !important;
    }
    .imagen-inicio{
      img{
        width: 375px;
      }
    }

    .sobre-nosotros{
      width: 360px;
     
    }
    .div-map{
      width: 360px;

      iframe{
        width: 200px;
        height: 150px;
      }
      
    }
    
  }

  @media all and (max-width:320px) {
    .logo-img{
      width: 300px;
      height: 100px;
    }

    
    .navbar{
     width: 320px !important;
   }
  //  Inicio
   .imagen-inicio{
     img{
       width: 320px;
     }
   }

   .sobre-nosotros{
     width: 300px;
    
   }
   .div-map{
     width: 300px;

     iframe{
       width: 150px;
       height: 100px;
     }
     
   }

  //  Compra
  .container{
    img{
      width: 200px;
      height: 150px;
    }
  }
   
 }

