
*{
margin-right: auto;
padding-top: 0%;
}
body{
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 97%;
    margin: 10px;
}



.logo{
   display: flex;
   align-items: center;
}
.logo-img{
    width: 350px;
    height: 100px;

}
.nav-1 a{
    font-weight: 600;
    padding-right: 15px;
    flex-direction: row;
}
.nav-1 a:hover{
    color: lightblue;
}





footer{
    background-color: #ffffff;
    width: 100%;
    margin: 10px;
  
}
footer span img{
    width: 200px;
    height: 75px;

}
.logo-1{
    width: 30px;
    height: 30px;
}
.logo-2{
    width: 30px;
    height: 30px;
}
.logo-3{
    width: 30px;
    height: 30px;
}
.logo-4{
    width: 30px;
    height: 30px;
}
.logo-5{
    width: 15px;
    height: 15px;
    margin: 0px;
    
}
.tabla-autos{
    border: 1px solid black;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    position: relative;
    left: 30px;
}
.tabla-autos h3{
    font-size: 50px;
   
}

/* compra */

.col{
   
   width: 80%;
   margin: 0 auto;
   padding: 50px;
   border: 2px solid rgb(255, 255, 255);
   justify-content: right;
   background-color: #fff;
   margin: 10px;
   

}
.autos:hover{
    background-color: #ecf0f1;
}
.autos{
   
    width: 300px;
    height: 300px;
    border: 4px solid rgb(11, 166, 218);
    background-color: #ffffff;
    margin: 15px;
    text-align: center;
    
    

}
.logo-pesos::before{
    content: "$" ;
    color: green;
    font-size: 20px;
    
}
.logo-dolares::before{
    content: "U$S" ;
    color: green;
    font-size: 20px;
}



/* contacto */
.body-3{
    min-height: 100vh;
    width: 98%;
    

}
.form{
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    max-width: 400px;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    top: 200px;
}
.contenedor-form{
    width: 100%;
    display: block;
    grid-auto-columns: 100%;
    padding: 1px;
    align-items: center;
}
.form-input{
    font-size: 20px;
    position: relative;
    margin-top: 25px;
    width: 200px;
    
    
}
.form-input--message{
    resize: none;
    bottom: 5px;
    
}
.form-aaa{
    font-size: 1rem;
    background-color: #0e78d4;
    color: #fff;
    border: none;
    font-weight: 300;
    padding: auto;
    cursor: pointer;
    width: 380px;
    top: 10;
}



.footer-3{
    position: relative;
    top: 380px;
    width: 100%;
    margin: 10px;
}

/* Mi perfil */
.mi-perfil{
    width: 25%;
    height: 300px;
    padding: 16px;
    margin: auto;
    top: 200px;
    background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #d3d3d3;
  position: relative;
}



.footer-2{
    position: relative;
    top: 500px;
    width: 100%;
    margin: 10px;
}



/* inicio*/
.section-inicio{
    max-width:1200px ;
    

}
.carousel-title{
    position: relative;
    left: 150px;
    padding-bottom: 30px;
}

#carouselExampleCaptions{
    padding-top: 100px !important;
    width: 600px;
    margin: auto;
    
}




.footer-4{
    position: relative;
    top: 250px;
    width: 100%;
    margin: 10px;
}


/* vende */
.div-vende-1{
    display: block;
  
}
.div-vende-2{
    display: block;
    width: 100%;
    
    position: relative;
    margin-top: 25px;
    width: 300px;
}





.footer-5{
    position: relative;
    top: 500px;
    width: 100%;
    margin: 10px;
}

@media screen and (max-width: 1024px) {
    /* inicio */
    .div-article{
        position: relative;
        right: 100px;
    }
    .div-article img{
        width: 200px;
        height: 100px;
       
    
    width: 100%;
    text-align: justify;
        
    
    }
    /* compra */

    .div-autos{
        display: grid;
       grid-template-columns: auto auto ;
       grid-template-rows: auto auto ;
       width: 80%;
       margin: 0 auto;
       padding: 50px;
       border: 2px solid lightblue;
       justify-content: center;
    }
}
@media screen and (max-width:768px) {
    

    header{
        width: 100%;
        display: flex;
        height: 80px;
        background-color: #ffffff;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .logo{
       display: flex;
       align-items: center;
    }
    .logo img{
        width: 200px;
        height: 100px;
    
    }
    .nav-1 a{
        font-weight: 400;
        padding-right: 8px;
        flex-direction: row;

    
}
.contenedor-article{
    width: 130px;
    align-items: center;
    height: 300px; 
}
.div-article{
    display: grid;
    grid-template-columns: auto auto auto ;
    
    width: 100%;
    align-items: center;
    position: relative;
    margin: 20px;
justify-content: center;
}
    
.div-autos{
    display: grid;
   grid-template-columns: auto auto ;
   grid-template-rows: auto auto ;
   width: 80%;
   margin: 0 auto;
   padding: 50px;
   border: 2px solid lightblue;
   justify-content: center;
}

}

@media screen and (max-width:425px) {
    header{
        width: 600px;
        display: block;
        height: 160px;
        background-color: #ffffff;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .logo{
       display: flex;
       align-items: center;
    }
    .logo img{
        width: 250px;
        height: 120px;
        position: relative;
        left: 150px;
        }
    .nav-1 a{
        font-weight: 400;
        padding-right: 8px;
        flex-direction: row;
        position: relative;
        left: 150px;
}

.buscador{
    display: none;
}
.contenedor-article{
    width: 300px;
    align-items: center;
    height: 300px; 
    position: relative;
    left: 70px;
}
.div-article{
    display: grid;
    grid-template-columns: auto  ;
    
    width: 100%;
    align-items: center;
    position: relative;
    margin: 20px;
justify-content: center;
}
.titulo-article{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 30px 30px 30px 30px ;
    padding: 0;
    position: relative;
    left: 70px;
}
footer{
    
    width: 580px;
   
}
.footer-4{
    width: 580px;
}
.div-autos{
    display: grid;
   grid-template-columns: auto  ;
   grid-template-rows: auto  ;
   width: 100%;
   margin: 0 auto;
   padding: 50px;
  
   justify-content: center;
   align-items: center;
   position: relative;
   left: 50px;
}
.buscador{
    list-style-type: none;
}
}
